CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_NEWLIB_NANO_FORMAT=y
CONFIG_COMPILER_OPTIMIZATION_LEVEL_RELEASE=y
CONFIG_OPTIMIZATION_LEVEL_RELEASE=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_ESP_TASK_WDT=n
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
